@import "./scss/variables";

.container {
    width: 980px;
    height: $container-height;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
}

.jumbotron {
    height: $jumbotron-height;
    background-image: url(/assets/images/header_text.jpg);
}

.content {
    margin-top: $content-margin-top;
    height: $content-height;
    display: flex;
}

.left-section {
    width: 310px;
}

.right-section {
    width: 400px;
    flex-grow: 1;
}
